
app/Config/database.php

app/Config/email.php

app/.idea/workspace.xml

app/.idea/vcs.xml

app/.idea/scopes/scope_settings.xml

app/.idea/modules.xml

app/.idea/misc.xml

app/.idea/encodings.xml

app/.idea/app.iml

app/.idea/.name
